extends layout

block content
  div.header

    h1= title
    h2 Welcome to your #{title}.
  
  div.tray  

    div.messBoard
   
      if messageArray && messageArray.length > 0
        each message in messageArray
          p #{message.text} - #{message.user}
      else
        p No messages. Click "New" to write a message.